@mixin flexBetweenCenter() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexStartColumn() {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
